body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(images/HeaderBG.png);
    background-position: top;
    background-size: cover;

    //background-attachment: fixed;
    nav {
        padding: 10px 15%;
        height: 10vh;


        img {
            height: 90%;
            width: auto;
            float: left;
        }

        ul {
            float: right;

            a {
                text-decoration: none;
                color: white;
                font-size: 24px;
                margin: auto 15px;
            }
        }
    }
}

.about {
    height: 70vh;
    width: 100%;
    background-image: url(images/SectionBackground.png);
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;

    .contant {
        display: flex;
        flex-direction: column;
        width: 40%;

        h1 {
            font-size: 36px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }

        img {
            height: 250px;
            width: 250px;
        }
    }

    img {
        height: 90%;
        width: auto;
    }
}

.Ingredients {
    height: 80vh;
    width: 100%;
    background-image: url(images/Section2Background.png);
    background-position: center;
    background-size: cover;


    .contant {
        width: 30%;
        height: 85%;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;

        h1 {
            font-size: 36px;
            text-align: center;
            color: #ffffff;
        }

        p {
            font-size: 16px;
            text-align: center;
            color: #ffffff;
            width: 90%;
        }

        .img {
            display: flex;
            width: 90%;
            justify-content: space-between;

            img {}
        }
    }
}